@media screen and (max-width: 490px) {
  .top-bottom {
    width: 200px;

  }
  
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}


.top-bottom {
  max-width: 400px;
  padding: 1px;
  border-radius: 25px;
  box-shadow: 2px 2px;
}

#selling {
  color: rgb(243, 66, 125);
  font-size: 28px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}