/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  #first {
    font-size: 30px;
    text-transform: uppercase;
  }
}

#carouselExample {
  width: 100%;
  display: flex;
}

#carouselExampleIndicators, #carouselExampleControls, #carouselExampleCaptions {
  width: 100%;
  display: flex;
}
