.icon-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon-bg {
  display: flex;
  padding: 20px;
  margin-top: 10px;
  border-radius: 50px;
  width: 120px;
  height: 120px;
  background-color: rgb(237, 202, 63);
}

.photo {
  height: 160px;
  width: 160px;
}
