@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.icon-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon-bg {
  display: flex;
  overflow: hidden;
  padding: 15%;
  margin-top: 10px;
  border-radius: 50px;
  width: 120px;
  height: 120px;
  background-color: rgb(237, 202, 63);
}

.photo {
  height: 160px;
  width: 160px;
}

.subheading {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(151, 150, 150);
}

.contact {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 20vh;
}

#message-input {
  width: 400px;
  height: 35px;
}

#contact-number {
  color: rgb(253, 237, 134);
}

/* Containers */
#email-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  width: 80vw;
}

/* Inputs styling */
input {
  border: none;
  background: none;
  border-bottom: 1px solid grey;
  color: white;
  border-radius: 25px;
  padding-left: 7px;
}


input::placeholder {
  color: white;
}

input::selection {
  border: none;
  outline: none;
  color: white;
}

#send-email-btn {
  border-radius: 25px;
}

#number {
  display: flex;
  width: 74vw;
  justify-content: center;
}

#copy-icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.main-font {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}