a::placeholder {
  color: black;
}

#mainNav {
  padding: 0;
}

#header-container {
  padding: 20px;
}

#firm {
  color: rgb(8, 135, 74);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
} 

#firm-name {
  font-size: 40px;
  line-height: 1.2;
}

#fall-down-btn {
  background: none;
  border: none;
  text-transform:uppercase;
}

#link {
  padding-top: 0px;
  margin: 0px;
}

#fall-down-btn:hover {
  color: gold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  #heading {
    font-size: 28px;
    line-height: 1.2;
  }
}

