a::placeholder {
  color: black;
}

#heading {
  line-height: 1.1;
}

#firm {
  color: rgb(8, 135, 74);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
} 

#firm-name {
  font-size: 40px;
}