#contact-number {
  padding-left: 10px;
  padding-bottom: 35px;
  color: white;
}

#sub-title-text {
  color: rgba(255, 255, 255, 0.629);
}

input {
  margin-bottom: 20px;
  height: 60px;
}

#message {
  height: 220px;
}

#big-number {
  color: white;
}